
 </main>
  <footer class="page-footer teal darken-1">
    <div class="container">
      <div class="row">
      
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Super Agenda
      </div>
    </div>
  </footer>
 <script>
     
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>